<script setup lang="ts">
import EuroJackpotCarousel from '@/components/EuroJackpot/EuroJackpotCarousel.vue';
import { watch, ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const route = useRoute();
console.log('route', route.name);

const routeName = ref(route.name);

watch(
  () => route.name,
  (newType) => {
    routeName.value = newType;
  }
);
</script>

<template>
  <main class="flex flex-col justify-center">
    <EuroJackpotCarousel :type="routeName" />
  </main>
</template>
