<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue';
import DocumentationIcon from './icons/IconDocumentation.vue';
import ToolingIcon from './icons/IconTooling.vue';
import EcosystemIcon from './icons/IconEcosystem.vue';
import CommunityIcon from './icons/IconCommunity.vue';
import SupportIcon from './icons/IconSupport.vue';
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Play Book</template>

    <p>
      Curious about your lottery ticket's fate? Our jackpot checker site not only reveals your
      numbers but also provides insightful analysis and statistics to boost your winning chances.
    </p>
    <br />
    <p>It's more than just checking — it's strategizing for success!</p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>Analyse</template>

    <p>
      Empower your play with knowledge! Our jackpot checker site offers comprehensive insights into
      past draws, hot numbers, and winning patterns. Stay informed, stay ahead, and turn your
      lottery dreams into reality!
    </p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <EcosystemIcon />
    </template>
    <template #heading>Unlock</template>

    <p>
      Unlock the secrets behind the numbers! Our jackpot checker site goes beyond simple
      verification, offering in-depth breakdowns of prize tiers, odds, and historical results. Arm
      yourself with information and maximize your winning potential!
    </p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <CommunityIcon />
    </template>
    <template #heading>Conquer</template>

    <p>
      Navigate the maze of numbers with confidence! Our jackpot checker site is your trusted
      companion in the world of lotteries, providing clear explanations of draw mechanics, rollover
      rules, and jackpot updates. Get informed, get inspired, and get ready to win big!
    </p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <SupportIcon />
    </template>
    <template #heading>Explore</template>

    <p>
      Transform uncertainty into clarity! Our jackpot checker site is your beacon of knowledge in
      the sea of lottery excitement. From checking your numbers to understanding jackpot mechanics,
      we're here to guide you every step of the way. Explore, discover, and elevate your lottery
      experience!
    </p>
  </WelcomeItem>
</template>
