<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
import HelloLotto from './components/HelloLotto.vue';

import { provide } from 'vue';
import { DefaultApolloClient } from '@vue/apollo-composable';
import apolloClient from '@/services/graphql/apolloClient';

provide(DefaultApolloClient, apolloClient);
</script>

<template>
  <div class="flex flex-col lg:flex-row h-screen">
    <header
      class="flex items-center justify-center w-full lg:min-w-[50vw] lg:max-w-[50vw] bg-emerald-600"
    >
      <section class="p-6">
        <HelloLotto msg="Hello, Lottopian!" />

        <nav class="flex gap-1">
          Check the
          <RouterLink class="underline underline-offset-4 hover:no-underline" to="/eurojackpot"
            >Jackpot</RouterLink
          >
          <RouterLink class="underline underline-offset-4 hover:no-underline" to="/powerball"
            >power</RouterLink
          >
          <RouterLink class="underline underline-offset-4 hover:no-underline" to="/megamillions"
            >mega</RouterLink
          >
          results or stay @<RouterLink
            class="underline underline-offset-4 hover:no-underline"
            to="/"
            >Home</RouterLink
          >.
        </nav>
      </section>
    </header>

    <RouterView class="flex-grow lg:overflow-y-auto p-5 bg-emerald-200" />
  </div>
</template>
