<script setup lang="ts">
import { computed } from 'vue';
import { formatCentsToDollars } from '@/utilities/currencyUtils';
import type { Draw } from '@/types/EuroJackpot';

const emit = defineEmits(['prevSlide', 'nextSlide']);

const props = defineProps<{
  draw: Draw;
  isFirstSlide: boolean;
  isLastSlide: boolean;
}>();

const formattedNumbers = computed(() => props.draw.numbers.join(', ') || 'N/A');
const formattedAdditionalNumbers = computed(() => props.draw.additionalNumbers.join(', ') || 'N/A');
</script>

<template>
  <div class="flex flex-col bg-slate-700 text-white px-4 py-6 rounded-md">
    <span class="mb-4 font-medium">{{ draw.date }}</span>
    <span class="mb-8 text-right text-3xl font-bold">{{ formatCentsToDollars(draw.jackpot) }}</span>
    <div class="w-72 mb-5 px-4 py-8 bg-emerald-300 text-slate-700 rounded-md">
      <span class="font-semibold text-xl">Numbers</span>
      <hr />
      <p>{{ formattedNumbers }}</p>
      <br />
      <span class="font-semibold text-xl">Additional Numbers</span>
      <hr />
      <p>{{ formattedAdditionalNumbers }}</p>
    </div>

    <!-- Navigation Buttons -->
    <div class="flex justify-between mt-4 text-xl select-none">
      <span v-show="!isFirstSlide" class="flex items-center">
        <button
          @click="emit('prevSlide')"
          class="left-4 pb-2 px-4 bg-emerald-400 text-4xl shadow rounded-full"
        >
          ‹
        </button>
        <p class="ml-2 pb-1">Next</p>
      </span>

      <span v-show="!isLastSlide" class="ml-auto flex items-center">
        <p class="mr-2 pb-1">Previous</p>
        <button
          @click="emit('nextSlide')"
          class="right-4 pb-2 px-4 bg-emerald-400 text-4xl shadow rounded-full"
        >
          ›
        </button>
      </span>
    </div>
  </div>
</template>
