<script setup lang="ts">
import EuroJackpotCard from './EuroJackpotCard.vue';
import { ref, toRefs, computed, watch } from 'vue';

import { useQuery } from '@vue/apollo-composable';
import GET_EUROJACKPOT_RESULTS from '@/queries/GetEuroJackpotResults.gql';
import type { EuroJackpotResults } from '../../types/EuroJackpot';

const props = defineProps<{
  type: string;
}>();

const { type } = toRefs(props);

const { result, loading, error, refetch } = useQuery<EuroJackpotResults>(GET_EUROJACKPOT_RESULTS, {
  type: type.value
});

const hasResults = computed<boolean>(() => {
  const drawData = result.value?.draw?.draws ?? [];
  const resultPresent = drawData.length > 0;
  return resultPresent;
});

const currentSlide = ref(0);

// console.log('Has Results:', hasResults.value);
// console.log('Current Slide:', currentSlide.value);
// console.log('Error:', error?.value?.message);

watch(
  () => props.type,
  (newType) => {
    refetch({ type: newType });
  }
);

watch(hasResults, (newVal) => {
  console.log('Results changed:', newVal);
});

watch(hasResults, (newVal) => {
  console.log('Results changed:', newVal);
});

const nextSlide = () => {
  const draws = result.value?.draw?.draws ?? [];
  if (draws.length) {
    currentSlide.value = (currentSlide.value + 1) % draws.length;
  }
};

const prevSlide = () => {
  const draws = result.value?.draw?.draws ?? [];
  if (draws.length) {
    currentSlide.value = (currentSlide.value - 1 + draws.length) % draws.length;
  }
};

const isFirstSlide = computed(() => currentSlide.value === 0);
const isLastSlide = computed(() => {
  const draws = result.value?.draw?.draws ?? [];
  return draws.length ? currentSlide.value === draws.length - 1 : false;
});
</script>

<template>
  <section class="flex flex-col items-center justify-center">
    <h1 class="mb-10 text-center">Euro<br /><span class="font-bold">Jackpot</span></h1>
    <div v-if="loading">Loading... Please wait.</div>
    <div v-else-if="error">{{ error.message }}. Try again later.</div>
    <div v-else-if="hasResults" class="w-[380px] lg:w-[900px] relative">
      {{ type }}
      <!-- Slide Container -->
      <div class="overflow-hidden w-auto">
        <div
          class="flex transition-transform duration-500 ease-in-out"
          :style="{ transform: `translateX(-${currentSlide * 100}%)` }"
        >
          <template v-for="draw in result?.draw?.draws ?? []" :key="draw.date">
            <div class="min-w-full flex justify-center flex-shrink-0">
              <EuroJackpotCard
                :draw="draw"
                :isFirstSlide="isFirstSlide"
                :isLastSlide="isLastSlide"
                @prev-slide="prevSlide"
                @next-slide="nextSlide"
                class="mb-10 shadow-xl shadow-gray-600"
              />
            </div>
          </template>
        </div>
      </div>
    </div>
    <div v-else>No results found. Please check again later.</div>
  </section>
</template>
